body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 2rem;
}

article h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
}

article img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

audio, video {
    display: block;
    margin-top: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    /* position: comment; */
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}
